$bright-color: #fff;

@mixin bottom {
  position: absolute;
  right: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ff6e7f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #a8e0ff, #ff6e7f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #a8e0ff, #ff6e7f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: OpenSans, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  line-height: 1.6;
}

.container {
  margin: 0 0 40px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 700px;
  height: 500px;
  position: relative;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);

  .container-info {
    @include bottom;
    bottom: 29%;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px;
    color: $bright-color;
    background-color: #183544bf;
    background-size: cover;
    color: white;

    span {
      margin-right: 20px;
    }

    img {
      margin-right: 10px;
      width: 20px;
    }

    .dog {
      margin-right: 10px;
      width: 30px;
    }

    b {
      margin-right: 24px;
      font-size: 1.2rem;
    }
  }

  .container-profile {
    background-color: #e4f2fd;
    display: flex;
    align-items: center;
    padding: 30px;
    @include bottom();
    bottom: 0;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-position: center;
      object-fit: cover;
      margin-right: 10px;
    }

    h2 {
      color: #334454;
      font-size: 1.4rem;
    }

    p {
      font-size: 1.0rem;
    }

    p b {
      font-style: italic;
    }

    p a {
      font-style: bold;
    }
  }
}